.informationItem {
  display: inline-block;
  margin: 10px;
  min-height: 400px;
  padding: 17px;
  position: relative;
  overflow: hidden;
  vertical-align: top;

  &__image {
    border-radius: 10px;
    max-width: 250px;
    max-height: 350px;
    min-width: 250px;
  }

  &__wishlist {
      background: #fff;
      border-radius: 50%;
      padding: 10px;
      position: absolute;
      right: 0;
      top: 0;
  }

  &__imageContainer {
    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s;
    }
  }

  &__linkBar {
    margin-top: 20px;

    &img {
      display: unset;
    }
  }

  &__providerLinkImage {
    padding-right: 8px;
    vertical-align: middle;
    width: 40px;
  }

  &__wishlist {
    img {
      cursor: pointer;
      padding-left: 10px;
      vertical-align: top;
      width: unset;
    }
  }
}
