.item {
  &__linkBar {
    font-size: 0.89em;
    min-height: 30px;
    vertical-align: middle;

    &img {
      display: unset;
    }
  }

  &__priceInitial {
    display: inline-block;
    padding-top: 22px;

    &--reduced {
      text-decoration: line-through;
    }
  }

  &__priceReduced {
    background-color: seagreen;
    border-radius: 15px;
    display: inline-block;
    padding: 7px;
    position: absolute;
    right: 10px;
    top: 232px;

    @media screen and (min-width: 640px) {
      right: 255px;
    }
  }

  &__providerLinkContainer {
    background-color: #355f7d;
    border: 1px solid #000;
    margin-bottom: 2px;
    min-height: 60px;
    width: 100%;
  }

  &__providerLinkImage {
    padding: 10px;
    vertical-align: middle;
    width: 40px;

    @media screen and (min-width: 640px) {
      padding-left: 20px;
    }
  }

  &__wishlist {
    background: #fff;
    border: 1px solid #4AA7EB;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    padding: 10px;
    position: absolute;
    right: 13px;
    top: 8px;
    width: 18px;
  }
}
