.item {
  &__linkBar {
    font-size: 0.89em;
    min-height: 30px;
    vertical-align: middle;

    &img {
      display: unset;
    }
  }

  &__priceInitial {
    display: inline-block;
    padding-top: 22px;

    &--reduced {
      text-decoration: line-through;
    }
  }

  &__priceReduced {
    background-color: rgba(46, 139, 87, 0.7);
    border-radius: 15px;
    display: inline-block;
    padding: 7px;
    position: absolute;
    right: 29px;
    top: 258px;

    @media screen and (min-width: 568px) {
      right: 44px;
    }

    @media screen and (min-width: 640px) {
      right: 60px;
      top: 271px;
    }

    @media screen and (min-width: 720px) {
      right: 14px;
    }

    @media screen and (min-width: 731px) {
      right: 21px;
    }

    @media screen and (min-width: 823px) {
      right: 40px;
    }

    @media screen and (min-width: 1366px) {
      right: 55px;
    }
  }

  &__providerLinkContainer {
    margin-bottom: 2px;
    padding-bottom: 5px;
    width: 100%;
  }

  &__providerLinkImage {
    padding-right: 15px;
    vertical-align: middle;
    width: 40px;

    @media screen and (min-width: 640px) {
      padding-left: 20px;
    }
  }

  &__title {
    display: inline-block;
    font-size: 14px;
    max-width: 155px;
    min-height: 60px;

    @media screen and (min-width: 640px) {
      font-size: 16px;
      max-width: 207px;
    }
  }

  &__wishlist {
    background: #fff;
    border: 1px solid #4AA7EB;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    padding: 10px;
    position: absolute;
    right: 61px;
    top: 18px;
    width: 18px;

    @media screen and (min-width: 360px) {
      right: 12px;
    }

    @media screen and (min-width: 411px) {
      right: 23px;
    }

    @media screen and (min-width: 540px) {
      right: 10px;
    }

    @media screen and (min-width: 568px) {
      right: 62px;
    }

    @media screen and (min-width: 640px) {
      right: 69px;
    }

    @media screen and (min-width: 653px) {
      right: 84px;
    }

    @media screen and (min-width: 667px) {
      right: 75px;
    }

    @media screen and (min-width: 720px) {
      right: 33px;
    }

    @media screen and (min-width: 768px) {
      right: 38px;
    }

    @media screen and (min-width: 812px) {
      right: 55px;
    }

    @media screen and (min-width: 1024px) {
      right: 38px;
    }

    @media screen and (min-width: 1366px) {
      right: 90px;
    }

    @media screen and (min-width: 1920px) {
      right: 148px;
    }
  }
}
