.item {
  &__linkBar {
    font-size: 0.89em;
    min-height: 30px;
    vertical-align: middle;

    &img {
      display: unset;
    }
  }

  &__priceInitial {
    display: inline-block;
    padding-top: 22px;

    &--reduced {
      text-decoration: line-through;
    }
  }

  &__priceReduced {
    background-color: rgba(46, 139, 87, 0.7);
    border-radius: 15px;
    display: inline-block;
    padding: 7px;
    position: absolute;
    right: 10px;
    top: 258px;

    @media screen and (min-width: 640px) {
      right: 60px;
    }

    @media screen and (min-width: 823px) {
      right: 40px;
    }
  }

  &__providerLinkContainer {
    margin-bottom: 2px;
    padding-bottom: 5px;
    width: 100%;
  }

  &__providerLinkImage {
    padding-right: 15px;
    vertical-align: middle;
    width: 40px;

    @media screen and (min-width: 640px) {
      padding-left: 20px;
    }
  }

  &__wishlist {
    background: #fff;
    border: 1px solid #4AA7EB;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    padding: 10px;
    position: absolute;
    right: 13px;
    top: 18px;
    width: 18px;

    @media screen and (min-width: 411px) {
      right: 23px;
    }

    @media screen and (min-width: 640px) {
      right: 80px;
    }

    @media screen and (min-width: 731px) {
      right: 102px;
    }

    @media screen and (min-width: 823px) {
      right: 55px;
    }
  }
}
