.searchContainer {
  margin-top: 5px;

  input {
    background: #282c34;
    border: 2px solid #000;
    color: #FFF;
    height: inherit;
    min-height: 30px;
    padding: 10px;
    transition: all .2s ease;
    outline: none;

    &:focus {
      border-color: #fff;
      transition: all .2s ease;
    }
  }

  &__inputField {
    max-width: 520px;
    width: 50%;
  }

  &__button {
    display: none;

    margin-left: 5px;
    text-transform: uppercase;
    width: 100px;
    &:active {
      background: #fff;
      border-color: #fff;
      color: #282c34;
      font-weight: bold;

    }
  }

  &__icon {
    display: inline-block;
    margin-left: 5px;
    min-height: 30px;
    vertical-align: middle;
    width: 30px;

    &--image {
      width: 100%;
    }
  }
}
