.navigationContainer {
  display: none;
  font-size: 14px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;
}

.navigationItem {
  display: inline-block;
  text-transform: uppercase;

  &Separator {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__link {
    color: #FFF;
    cursor: pointer;
    text-decoration: underline;
  }
}
