.settings {
  position: absolute;
  right: 20px;
  text-align: center;
  top: 20px;

  &__icon {
    display: inline-block;
    width: 22px;
  }

  &__title {
    font-size: 14px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}

