body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.informationItem {
  align-items: center;
  display: grid;
  float: left;
  min-height: 400px;
  overflow: auto;
  padding-left: 5px;
}

.informationItem__image {
  max-width: 250px;
  max-height: 350px;
  min-width: 250px;
}

.informationItemsContainer {
  width: 80%;
}

.searchContainer {
  overflow: auto;
}

.searchContainer input {
  background: #282c34;
  border: 1px solid #000;
  color: #FFF;
  height: 30px;
}

.searchContainer .button {
  margin-left: 5px;
  width: 100px;
}
